*{margin: 0; padding: 0}


h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
    margin: 0 10% 20px 10%;
}
footer{
    text-align: center;
    font-size: 12px;
    font-family:cursive;
    
}
#logo{
    width:20%;
    min-height:100px;
    
}
#main {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white
}
.foto{
    background-color: white;
    float:left;
    padding-left: 40%;
    padding-right: 40%;
    width: 20%;
    padding-top: 10px;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:25%;
}

#sklad{
    float: left;
}
nav{
    background-color: black;
}

a.klik {
    display: inline-block;
        width: 20%;
    padding: 15px 30px 15px 30px;
    color:deeppink;
    text-decoration:none;
    text-align: center;
}
a.klik:hover {font-size: 20px}

#b {
    text-align: left;
    font-size: 25px;
    margin-left:10px; 
margin-right: 10px;
}
